name: CI

on:
  push:
    branches: [master]
    paths-ignore:
      - "**.md"

  pull_request:
    types: [opened, reopened, synchronize]
  release:
    types: [published]

env:
  PACKAGE_NAME: player-preferences
  STORE_README: 1
  GENERATE_PLUGINS_INI: 0

jobs:
  build:
    name: "Build"
    runs-on: ubuntu-latest
    outputs:
      COMMIT_SHA: ${{ steps.declare_sha.outputs.COMMIT_SHA }}
      SEMVER: ${{ steps.declare_sha.outputs.SEMVER }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1
        with:
          fetch-depth: 0

      - name: Parse SemVer string (release)
        id: semver_parser
        if: |
          github.event_name == 'release' &&
          github.event.action == 'published' &&
          startsWith(github.ref, 'refs/tags/')
        uses: booxmedialtd/ws-action-parse-semver@v1.4.7
        with:
          input_string: ${{ github.ref }}
          version_extractor_regex: 'refs\/tags\/(.*)$'

      - name: Declare SHA & package name
        id: declare_sha
        shell: bash
        run: |
          SHA=$(git rev-parse --short HEAD)
          echo "COMMIT_SHA=$SHA" >> $GITHUB_OUTPUT        
          echo "SEMVER=${{ steps.semver_parser.outputs.fullversion }}" >> $GITHUB_OUTPUT

      - name: Setup AMXXPawn Compiler
        uses: wopox1337/setup-amxxpawn@v1.1.0
        with:
          version: "1.10.5428"

      - name: Compile plugins
        working-directory: scripting/
        env:
          GENERATE_PLUGINS_INI: ${{ env.GENERATE_PLUGINS_INI }}
          PLUGINS_INI_POSTFIX: ${{ env.PLUGINS_INI_POSTFIX }}
        run: |
          compile() {
            sourcefile=$1
            amxxfile="$(echo $sourcefile | sed -e 's/\.sma$/.amxx/')"
            output_path="../plugins/$amxxfile"

            mkdir -p $(dirname $output_path)

            echo -n "Compiling $sourcefile ... "
            amxxpc $sourcefile -o"$output_path" \
              -i"include"
              
            if [ ! -z "${GENERATE_PLUGINS_INI}" ]; then
              plugin_ini_path="../configs/plugins-${PLUGINS_INI_POSTFIX}.ini"
              touch $plugin_ini_path
              echo $amxxfile >> $plugin_ini_path
            fi
          }
          export -f compile

          find . -type f -name "*.sma" -exec bash -c 'compile "$0"' {} \;

      - name: Move files
        env:
          STORE_README: ${{ env.STORE_README }}
        run: |
          package_amxmodx_path=publish/${{ env.PACKAGE_NAME }}/addons/amxmodx/
          mkdir -p $package_amxmodx_path
          mv configs $package_amxmodx_path
          mv scripting $package_amxmodx_path
          mv migrations publish/

          if [ ! -z "${STORE_README}" ]; then
            mv README.md publish/
          fi

      - name: Deploy artifact
        uses: actions/upload-artifact@v4.3.1
        with:
          name: ${{ env.PACKAGE_NAME }}-${{ steps.declare_sha.outputs.COMMIT_SHA }}-dev
          path: publish/*

  publish:
    name: "Publish release"
    runs-on: ubuntu-latest
    needs: [build]
    if: |
      github.event_name == 'release' &&
      github.event.action == 'published' &&
      startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4.1.4
        with:
          name: ${{ env.PACKAGE_NAME }}-${{ needs.build.outputs.COMMIT_SHA }}-dev

      - name: Packaging binaries
        id: packaging
        run: 7z a -mm=Deflate -mfb=258 -mpass=15 -r ${{ env.PACKAGE_NAME }}-${{ needs.build.outputs.SEMVER }}.zip

      - name: Publish artifacts
        uses: softprops/action-gh-release@v2.0.4
        id: publish-job
        if: |
          startsWith(github.ref, 'refs/tags/') &&
          steps.packaging.outcome == 'success'
        with:
          files: |
            *.zip